.filters {
    display: flex;
    justify-content: space-around;
}

.inputs {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin-top: 1rem;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    width: 28%;
}

.tag {
    list-style: none;
    color: #FFFFFF;
    border: 1px solid #BB000E;
    min-width: min-content;
    height: min-content;
    border-radius: 2rem;
    padding: .5rem;
    cursor: pointer;
    margin: 0 .5rem 0.5rem .5rem;
}

.selected {
    background-color: #BB000E;
}