/* Dashboard component */

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Home page component */

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movies-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* Favorites component
   Watch later component
*/

.favorites,
.watchlater {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favorites h1,
.watchlater h1 {
    font-size: 5rem;
    text-transform: uppercase;
    color: #FFFFFF;
    border-bottom: 2px solid #BB000E;
    font-weight: 400;
}
