/* Dashboard component */

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Home page component */

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movies-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* Favorites component */

.favorites {

}
